.tw-relative {
  position: relative
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-mb-0 {
  margin-bottom: 0px
}

.tw-mt-8 {
  margin-top: 2rem
}

.tw-flex {
  display: flex
}

.tw-w-full {
  width: 100%
}

.tw-max-w-\[1360px\] {
  max-width: 1360px
}

.tw-max-w-\[29rem\] {
  max-width: 29rem
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-flex-none {
  flex: none
}

.tw-items-center {
  align-items: center
}

.tw-justify-end {
  justify-content: flex-end
}

.tw-justify-center {
  justify-content: center
}

.tw-gap-2 {
  gap: 0.5rem
}

.tw-gap-20 {
  gap: 5rem
}

.tw-gap-6 {
  gap: 1.5rem
}

.tw-rounded-lg {
  border-radius: 0.5rem
}

.tw-border-r-\[1px\] {
  border-right-width: 1px
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.tw-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.tw-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.tw-pr-6 {
  padding-right: 1.5rem
}
