.tw-flex {
  display: flex
}

.tw-flex-1 {
  flex: 1 1 0%
}

.tw-items-center {
  align-items: center
}

.tw-gap-6 {
  gap: 1.5rem
}

.tw-border-r-\[1px\] {
  border-right-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.tw-border-none {
  border-style: none
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-pr-6 {
  padding-right: 1.5rem
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.tw-uppercase {
  text-transform: uppercase
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}
